---
name: "Frontmatter Snippet"
description: "This is a description"
icon: "test-snippets/test.png"
file_path_template: "~/{{ vars('name') }}.ulauncher-snippets.test.md"
file_overwrite: true
vars:
    name:
        label: "Name of the component"
---

{{ date("now") }}