---
name: "Second Markdown Snippet"
description: "A snippet with some markdown in it, that sets custom extensions"
markdown: true
markdown_extensions:
- wikilinks
---

A snippet with [[Markdown]] in it.
